<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Golang</title>
  </head>
  <body>
    <div>
      <h1>Go TemplateView</h1>
      <p>
        Go TemplateView is a simple web application that demonstrates how to use
        the Go programming language to render HTML templates.
      </p>
    </div>
  </body>
</html>
