<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>
 
 <div>
 time without formatted
 {{.}}
 </div>

<div>
formatted time
{{formattedDate .}}
</div>

</body>
</html>